.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-top: 50px;
}

.none
	background-color: none;
}
.card-hotel {
	flex: 1 200px;
    padding: 2px 7px 2px 7px;
	margin-top: 10px;
}
 footer {
	padding: 10px 10px 0 10px;
	background-color: pink;
    margin-bottom: 0px;
    margin-top: 10px ;
    
}
.btn-reserva {
	width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;    
}

.tabcontent {
  color: white;
  display: true;
  padding: 100px 20px;
  height: 100%;
}