.jumbotron {
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 7px 2px 7px;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #f5b3df;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tabcontent {
  color: white;
  display: true;
  padding: 100px 20px;
  height: 100%;
}
