$pink: #f5c9f1;
$red: #f7220a;
$green: #0af04b;
$yellow: #f5ed16;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
 
}

@mixin color ($color) {
   color: $color;
}

@mixin padding ($padding) {
    padding: $padding;
}

.jumbotron {
  
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    @include color (white);
    text-shadow: black 0.3em 0.3em 0.3em;
    @include margenes (50px, 0px);
}


.card-hotel {
	flex: 1 200px;
  @include padding (2px 7px 2px 7px);
	@include margenes (10px, 0px);
}
 footer {
	
  @include padding (10px 10px 0px 10px);
	background-color: $pink;
  @include margenes (10px, 0px);
    
}
.btn-reserva {
	width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;    
}

.tabcontent {
  @include color (white);
  display: true;
  @include padding (100px 20px);
  height: 100%;
}